/*small and general styles*/
h1 
{
    color:black;
    margin:0;
   text-align:center;
}

h2,h3,h4,h5,h6 {color:black;}

.tag{
    font-size: 1em;
}
nav{
    display: flex;
    text-decoration: none;
    font-size:1em; 
    line-height: 200%;
}

}
nav ul
{
   list-style: none;
    margin-right: 1em;
    
}

nav ul li 
{
    color:white;
    font-size: 1em;
    display:block;
   
    
}


#nav2
{
    position: absolute;left:0%;margin-top:0%;width: 15%;
    height:3000px; border: solid thin; float: left;}


body
{
    margin:0;
    padding:0;
    font-family:cursive,helvetica,sans-serif;
    background-color:yellow;
    height:1000px;
    width: 100%;
}
   
   header
{
    padding:0;
    color:whitesmoke;
    background:black;
    width: 100%;

    
}

header p{
    clear:left;
}

.group{
/*    margin-top: 130px;*/
    height:70px;

}
#img1
{
    display:flex;
    justify-content: flex-start;
    max-width: 100%;
}

#img2
{
    display: flex;
    justify-content: center;
   
}
picture img{
    width: 100%;
}
    main 
{
    margin-left: 15%;
    margin-right: auto; 
    margin-top:0%;
    width:70%;
    height:700px;
    border:0;
    font-size: 1.2em;
}

#space{
    margin-bottom: 5em;
   
}

#place{
    display:flex;
    flex-direction: column;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

footer
{
  position: fixed; bottom:0px; width:700%; border: white; text-align: center; background-color:black;margin-bottom: 0;margin-left: 0;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:relative;
    display:inline-block;
    margin-left: 30%;
    font: black;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*
footer ul li{
    list-style: none;
    margin-left: 1em;
    font:white;
}

footer ul{
    display: flex;
   

#div1
{
    display:flex;
    justify-content: space-between;
}

#div2
{
    display:flex;
    justify-content: space-between;
    
    
}
#img1
{
    display:flex;
    justify-content: flex-start;
    max-width: 100%;
}

#img2
{
    display: flex;
    justify-content: center;
   
}

   
figure {
  height: 0;
  padding-bottom: 56.25%; 
  position: relative;
  width: 100%;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
*/

/*large styles*/

@media only screen and (min-width:800px) {
    
    nav ul {
            width:100%;
            list-style: none;
       
}
    nav ul li{
        display:inline;
    }
   
}

