h1 
{
    color:white;
    margin:0;
   text-align:center;
}

body
{
    margin:0;
    padding:0;
    font-family:cursive,helvetica,sans-serif;
    background-color:yellow;
}

h1
{
    margin:0;
}
h2,h3,h4,h5,h6 {color:black;}

/*
ol 
{font-style: italic;
 background-color: white;
*/
}
l1 {
    font-weight: 200;
    text-decoration: none;
    display:inline;
    padding:inherit;
}

   
    
   header
{
    padding:0;
    color:whitesmoke;
    background:black;
    height:130px;
    position:fixed;
    width: 100%;
    top: 0;
    
}

header img{
    float:left;
}

header p{
    clear:left;
}

.group{
    margin-top: 130px;
}

footer
{
  position: fixed; bottom:0px; width:100%; border: white; text-align: center; background-color:black;margin-bottom: 0;margin-left: 0;
}

footer ul li{
    list-style: none;
    margin-left: 1em;
}

footer ul{
    display: flex;
   
}


nav ul
{
    list-style: none;
    display:flex;
    justify-content: space-around;
    background-color: white;
  
}

nav li
{
    display: inline;
    margin-right: 1em;
}

nav li a
{
    color:black;
}
nav li a
{
    text-decoration: none;
}

#nav2
{
    position: absolute;left:0%;margin-top:0%;width: 15%;
    height:3000px; border: solid thin; float: left;}

            
main 
{
    margin-left: 15%;margin-right: auto; margin-top:0%;width:70%; height:3000px;border:solid thin blue;  }	

            
aside
{
    right:0%;margin-top: 0%; width:15%; height: 300px; border: solid thin blue; list-style: none;} 

#div1
{
    display:flex;
    justify-content: space-between;
}

#div2
{
    display:flex;
    justify-content: space-between;
    
    
}
#img1
{
    display:flex;
    justify-content: flex-start;
}

#img2
{
    display: flex;
    justify-content: center;
   
}


footer p{
    width: 15%;
}
 
/*{ position: fixed; text-align: center; width: 100%; bottom:0px;border:solid medium black;}*/